<div class="body_index container">
  <% @posts.each_slice(3) do |posts| %>
  
  <div class="row">
    <br>
    <% posts.each do |post| %>
    <div class="card mr-4 " style="width: 18rem;" >
      <%= image_tag post.image.variant(resize:"400x400")%>
      <div class="card-body">
        <h5 class="card-title"><%= post.name %></h5>
        <p class="card-text"><%= post.detail %></p>
      </div>
      <div class="card-footer text-muted">
        <small>Updated <%=time_ago_in_words post.updated_at%></small>
      </div>
    </div>
    <br>
  <% end %>
  </div>
  <br>
  <% end %>
  <br>
</div>